<!--Topページ-->

<div class="container">
    <div class="row">
        <h1>Welcome to <i class="fas fa-book"></i>Bookers!</h1>
        <p>in  <i class="fas fa-book"></i>Bookers,</p>
        <p>you can share and exchange your opinions , inpressions , and emotions<br>
        
        about various books!</p>
        <p>CopyRight Infratop.inc</p>
        
        <div class="btn-wrapper">
            <%= link_to "Login", new_user_session_path, class: 'nav-link text-dark' %>
            <%= link_to "Sign up", new_user_registration_path, class: 'nav-link text-dark' %>
        </div>
        
    </div>
</div>